{{> head}}

{{> navbar}}

    <div class="row">

        <div class="col-8">
            <h1>Lorem Ipsum</h1>
            <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
            <h3>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet elit ac libero lacinia pharetra ac sit amet lorem. Proin neque tellus, posuere at massa luctus, porttitor sodales mi. Nullam laoreet accumsan mi vel euismod. Quisque rutrum nunc ac justo molestie, faucibus tempor neque auctor. Donec et ante porttitor, malesuada ligula vel, ultricies lectus. Donec nec molestie ante. Nunc auctor, massa et fringilla gravida, arcu nisi varius ante, nec fermentum sapien dui quis nisl. Mauris fringilla sollicitudin justo, vel pretium libero. Nunc et nunc nunc. Vestibulum ornare vel dui eu fermentum. Cras finibus rhoncus orci in placerat.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/focal-wallpaper.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer}}